body {
  background-color: #ffffff;
  border-style: double;
  border-color: #0d61d9;
  border-width: 5px;
}
h5 {
  color: #000000;
  text-decoration: Arial, sans-serif, Helvetica, Verdana;
  text-align: center;
}
/*   css - Da foto que estará dentro do link foto   */
.photo img {
  height: 200px;
  width: 200px;
  position: relative;
  top: 10px;
  right: 10px;
}
.organic {
  margin: 0px 40px 0px 40px;
  border-style: double;
  border-color: #ff261f;
  border-width: 5px;
  
}


.photo1 img {
  height: 200px;
  width: 200px;
  margin: 20px 10px 20px 20px;

}
.photo2 img {
  height: 200px;
  width: 200px;
  margin: 20px 10px 20px 20px;
}
.photo3 img {
  height: 140px;
  width: 140px;
  margin: 20px 10px 20px 20px;
}
.photo4 img {
  height: 140px;
  width: 140px;
  margin: 20px 10px 20px 20px;
}
.photo5 img {
  height: 140px;
  width: 140px;
  margin: 20px 60px 20px 20px;

}
.photo6 img {
  height: 140px;
  width: 140px;
  margin: 20px 10px 20px 20px;
}
.photo7 img {
  height: 140px;
  width: 140px;
  margin: 20px 10px 20px 20px;
}
.photo8 img {
  height: 140px;
  width: 140px;
  margin: 20px 10px 20px 20px;
}
.footer {
  background-color: #ff261f;
  margin: 10px 10px 10px 5px;
}
a {
  margin: 50px 80px 50px 90px;
  color: #000000;
  text-decoration: Arial, sans-serif, Helvetica, Verdana;
  text-decoration: none;
}
